[class^="icon-"],[class*=" icon-"]{display:inline-block;width:14px;height:14px;margin-top:1px;*margin-right:.3em;line-height:14px;vertical-align:text-top;background-image:url("../images/glyphicons-halflings.png");background-position:14px 14px;background-repeat:no-repeat}.icon-white,.nav-pills>.active>a>[class^="icon-"],.nav-pills>.active>a>[class*=" icon-"],.nav-list>.active>a>[class^="icon-"],.nav-list>.active>a>[class*=" icon-"],.navbar-inverse .nav>.active>a>[class^="icon-"],.navbar-inverse .nav>.active>a>[class*=" icon-"],.dropdown-menu>li>a:hover>[class^="icon-"],.dropdown-menu>li>a:focus>[class^="icon-"],.dropdown-menu>li>a:hover>[class*=" icon-"],.dropdown-menu>li>a:focus>[class*=" icon-"],.dropdown-menu>.active>a>[class^="icon-"],.dropdown-menu>.active>a>[class*=" icon-"],.dropdown-submenu:hover>a>[class^="icon-"],.dropdown-submenu:focus>a>[class^="icon-"],.dropdown-submenu:hover>a>[class*=" icon-"],.dropdown-submenu:focus>a>[class*=" icon-"]{background-image:url("../YOUR IMAGE PATH/glyphicons-halflings-white.png")}.icon-glass{background-position:0 0}.icon-music{background-position:-24px 0}.icon-search{background-position:-48px 0}.icon-envelope{background-position:-72px 0}.icon-heart{background-position:-96px 0}.icon-star{background-position:-120px 0}.icon-star-empty{background-position:-144px 0}.icon-user{background-position:-168px 0}.icon-film{background-position:-192px 0}.icon-th-large{background-position:-216px 0}.icon-th{background-position:-240px 0}.icon-th-list{background-position:-264px 0}.icon-ok{background-position:-288px 0}.icon-remove{background-position:-312px 0}.icon-zoom-in{background-position:-336px 0}.icon-zoom-out{background-position:-360px 0}.icon-off{background-position:-384px 0}.icon-signal{background-position:-408px 0}.icon-cog{background-position:-432px 0}.icon-trash{background-position:-456px 0}.icon-home{background-position:0 -24px}.icon-file{background-position:-24px -24px}.icon-time{background-position:-48px -24px}.icon-road{background-position:-72px -24px}.icon-download-alt{background-position:-96px -24px}.icon-download{background-position:-120px -24px}.icon-upload{background-position:-144px -24px}.icon-inbox{background-position:-168px -24px}.icon-play-circle{background-position:-192px -24px}.icon-repeat{background-position:-216px -24px}.icon-refresh{background-position:-240px -24px}.icon-list-alt{background-position:-264px -24px}.icon-lock{background-position:-287px -24px}.icon-flag{background-position:-312px -24px}.icon-headphones{background-position:-336px -24px}.icon-volume-off{background-position:-360px -24px}.icon-volume-down{background-position:-384px -24px}.icon-volume-up{background-position:-408px -24px}.icon-qrcode{background-position:-432px -24px}.icon-barcode{background-position:-456px -24px}.icon-tag{background-position:0 -48px}.icon-tags{background-position:-25px -48px}.icon-book{background-position:-48px -48px}.icon-bookmark{background-position:-72px -48px}.icon-print{background-position:-96px -48px}.icon-camera{background-position:-120px -48px}.icon-font{background-position:-144px -48px}.icon-bold{background-position:-167px -48px}.icon-italic{background-position:-192px -48px}.icon-text-height{background-position:-216px -48px}.icon-text-width{background-position:-240px -48px}.icon-align-left{background-position:-264px -48px}.icon-align-center{background-position:-288px -48px}.icon-align-right{background-position:-312px -48px}.icon-align-justify{background-position:-336px -48px}.icon-list{background-position:-360px -48px}.icon-indent-left{background-position:-384px -48px}.icon-indent-right{background-position:-408px -48px}.icon-facetime-video{background-position:-432px -48px}.icon-picture{background-position:-456px -48px}.icon-pencil{background-position:0 -72px}.icon-map-marker{background-position:-24px -72px}.icon-adjust{background-position:-48px -72px}.icon-tint{background-position:-72px -72px}.icon-edit{background-position:-96px -72px}.icon-share{background-position:-120px -72px}.icon-check{background-position:-144px -72px}.icon-move{background-position:-168px -72px}.icon-step-backward{background-position:-192px -72px}.icon-fast-backward{background-position:-216px -72px}.icon-backward{background-position:-240px -72px}.icon-play{background-position:-264px -72px}.icon-pause{background-position:-288px -72px}.icon-stop{background-position:-312px -72px}.icon-forward{background-position:-336px -72px}.icon-fast-forward{background-position:-360px -72px}.icon-step-forward{background-position:-384px -72px}.icon-eject{background-position:-408px -72px}.icon-chevron-left{background-position:-432px -72px}.icon-chevron-right{background-position:-456px -72px}.icon-plus-sign{background-position:0 -96px}.icon-minus-sign{background-position:-24px -96px}.icon-remove-sign{background-position:-48px -96px}.icon-ok-sign{background-position:-72px -96px}.icon-question-sign{background-position:-96px -96px}.icon-info-sign{background-position:-120px -96px}.icon-screenshot{background-position:-144px -96px}.icon-remove-circle{background-position:-168px -96px}.icon-ok-circle{background-position:-192px -96px}.icon-ban-circle{background-position:-216px -96px}.icon-arrow-left{background-position:-240px -96px}.icon-arrow-right{background-position:-264px -96px}.icon-arrow-up{background-position:-289px -96px}.icon-arrow-down{background-position:-312px -96px}.icon-share-alt{background-position:-336px -96px}.icon-resize-full{background-position:-360px -96px}.icon-resize-small{background-position:-384px -96px}.icon-plus{background-position:-408px -96px}.icon-minus{background-position:-433px -96px}.icon-asterisk{background-position:-456px -96px}.icon-exclamation-sign{background-position:0 -120px}.icon-gift{background-position:-24px -120px}.icon-leaf{background-position:-48px -120px}.icon-fire{background-position:-72px -120px}.icon-eye-open{background-position:-96px -120px}.icon-eye-close{background-position:-120px -120px}.icon-warning-sign{background-position:-144px -120px}.icon-plane{background-position:-168px -120px}.icon-calendar{background-position:-192px -120px}.icon-random{width:16px;background-position:-216px -120px}.icon-comment{background-position:-240px -120px}.icon-magnet{background-position:-264px -120px}.icon-chevron-up{background-position:-288px -120px}.icon-chevron-down{background-position:-313px -119px}.icon-retweet{background-position:-336px -120px}.icon-shopping-cart{background-position:-360px -120px}.icon-folder-close{width:16px;background-position:-384px -120px}.icon-folder-open{width:16px;background-position:-408px -120px}.icon-resize-vertical{background-position:-432px -119px}.icon-resize-horizontal{background-position:-456px -118px}.icon-hdd{background-position:0 -144px}.icon-bullhorn{background-position:-24px -144px}.icon-bell{background-position:-48px -144px}.icon-certificate{background-position:-72px -144px}.icon-thumbs-up{background-position:-96px -144px}.icon-thumbs-down{background-position:-120px -144px}.icon-hand-right{background-position:-144px -144px}.icon-hand-left{background-position:-168px -144px}.icon-hand-up{background-position:-192px -144px}.icon-hand-down{background-position:-216px -144px}.icon-circle-arrow-right{background-position:-240px -144px}.icon-circle-arrow-left{background-position:-264px -144px}.icon-circle-arrow-up{background-position:-288px -144px}.icon-circle-arrow-down{background-position:-312px -144px}.icon-globe{background-position:-336px -144px}.icon-wrench{background-position:-360px -144px}.icon-tasks{background-position:-384px -144px}.icon-filter{background-position:-408px -144px}.icon-briefcase{background-position:-432px -144px}.icon-fullscreen{background-position:-456px -144px}
.ui-state-highlight { height: 1.5em; line-height: 1.2em;border: 1px dotted; background: none;}
.page-builder-row-item .fieldset-legend{
  padding-left: 0;
}
.page-builder-handle{
  cursor: move;
}
.page-builder-rows-items-wrapper, .page-builder-row-item, .page-builder-column-item{
  padding-bottom: 30px;
  padding-top: 0;
}
.page-builder-row-item .fieldset-legend, .page-builder-column-item .fieldset-legend{
  width: 100%;
}
.page-builder-links-wrapper{
  float: right;
  font-size: 90%;
}
.page-builder-top-links{
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}
.page-builder-row-item:hover .page-builder-rows-links{
  display: block;
}
.page-builder-links-wrapper:hover{
  background: url("../images/gear_on.png") no-repeat scroll 2px -1px rgba(0, 0, 0, 0);
}
.page-builder-links-wrapper{
  background: url("../images/gear_off.png") no-repeat scroll 2px 0 rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  display: none;
  margin: 0;
  outline: medium none;
  padding: 20px 20px 0;
  position: relative;
}
ul.page-builder-links{
  background-color: #E4E4E4;
  border: 1px solid #CCCCCC;
  border-radius: 4px 0 4px 4px;
  display: none;
  margin: 0 !important;
  padding: 0.25em 0;
  text-align: left;
  top: 18px;
  white-space: nowrap;
  margin: 0 !important;
  position: absolute;
  right: 5px;
  top: 20px;
}
.page-builder-links-wrapper:hover ul.page-builder-links{
  display: block;
}
ul.page-builder-links li{
  line-height: 100%;
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
ul.page-builder-links li a{
  color: #333333 !important;
  display: block;
  margin: 0.25em 0;
  padding: 0.25em 1em 0.25em 0.5em;
  font-size: 90%;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
}
ul.page-builder-links li a:hover{
  background-color: #BFDCEE;
  text-decoration: none;
}
.page-builder-row-item{
  border: 1px dashed #CCCCCC;
  margin: 15px 0;
  padding: 15px 0;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.page-builder-column-item{
  border: 1px solid #CCCCCC;
}
.page-builder-column-item-inner{
  margin: 0 0 20px 0;
  padding: 5px 0 30px 0;
  position: relative;
}
.page-builder-columns-links{
  display: none;
}
.page-builder-column-item:hover .page-builder-columns-links{
  display: block;
}
#edit-add-row{
  background: url("../images/add.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
  line-height: 30px;
  padding-left: 15px;
  border: 0 none;
}
.page-builder-element{
  border: 1px solid #AAAAAA;
  font-size: 80%;
  height: 18px;
  margin: 5px;
  padding: 0.4em;
  overflow: hidden;
  color: #222222;

}
.page-builder-element .form-item{
  padding: 0;
}
.page-builder-elements-items .page-builder-elements-inner{
  overflow-y: scroll;
  padding: 10px 20px 10px 0;
  height: 500px;
}
.page-builder-reload-elements{
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
}
.page-builder-hidden-item{
  display: none;
}
.page-builder-column-item.ui-state-hover{
  border:1px solid #991111;
}
.page-builder-element-item .element-title{
  color: #0074BD;
  cursor: pointer;
  padding: 3px;
}
.page-builder-element-item .page-builder-handle{
  display: block;
  float: left;
}
.ui-resizable-helper{
  border: 1px dotted #CCCCCC;
}
.page-builder-columns-wrapper .page-builder-column-item:first-child .ui-resizable-w{
  display: none !important;
}
.page-builder-columns-wrapper .page-builder-column-item{
  float: left;
  overflow: hidden;
  display: block;
  margin-bottom: 5px;
}
.page-builder-columns-wrapper{
  overflow: hidden;
}
.page-builder-columns-wrapper .ui-state-highlight{
  float: left;
  width: 10px;
  height: 100%;
}
.page-builder-column-item .ui-resizable-e{
  right: -5px;
  width: 8px;
}
.page-builder-grid-size-title{
  color: #991111;
  display: block;
  font-size: 10px;
  margin-left: 5px;
}
.page-builder-element-item .fieldset-legend{
  font-size: 80%;
  text-transform: none;
  font-weight: normal;
  background: none !important;
  padding-left: 0 !important;
  margin-top: 0 !important;
}
.page-builder-element-item{
  border-left: 0 none;
  border-right: 0 none;
  margin: 0 0 10px;
  padding: 10px;
}
.page-builder-column-header-item span{
  float: left;
  display: block;
}
.page-builder-column-header-item{
  overflow: hidden;
  padding-bottom: 5px;
}
.page-builder-column-header-item span.page-builder-link-remove-column{
  float: right;
  cursor: pointer;
}
.page-builder-element-item .fieldset-wrapper{
  display: none !important;
}
#page-builder-modal-global-text-area{
  width: 100%;
}
#page-builder-modal-settings .form-type-checkbox label,#page-builder-modal-settings .form-type-checkbox input{
  display: inline;
}
#page-builder-modal-settings .form-type-checkbox label{
  margin-right: 8px;
}
#page-builder-modal-settings input.form-text{width: 100%;}
.page-builder-rows-links{
  border: 1px solid #CCCCCC;
  border-left: 0 none;
  padding: 0 3px 3px 0;
  position: absolute;
  right: -19px;
  top: 8px;
}
.page-builder-rows-links a {
  border-radius: 0;
  display: block;
  margin-top: 3px;
}
.page-builder-rows-links a:hover{
  background-color: #CCCCCC;
}
.page-builder-row-item{
  min-height: 80px;
}
.page-builder-element.ui-draggable-dragging{
  width: 100px;
  border: 1px dashed #CCC;
}
.page-builder-element-item.ui-sortable-helper{
  cursor: move;
}
.page-builder-row-item .page-builder-row-settings .fieldset-legend{
  padding-left: 15px;

}
.page-builder-row-settings{
  padding: 10px;
}
.page-builder-row-settings{
  display: none;
}
#page-builder-filter-list ul,#page-builder-filter-list ul li{
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}
h3.element-title{
  display: none;
}
#page-builder-filter-list .page-builder-element{
  margin-left: 0;
  margin-right: 0;
}
#page-builder-filter-list.list-searching .page-builder-element{
  display: none;
}
#page-builder-filter-list.list-searching .page-builder-element.element-matching{
  display: block;
}
.list-search-wrapper{
  background-color: #e0e0d8;
  line-height: 18px;
  padding: 3px 5px;
  display: block;
}
.list-search-wrapper input{
  width: 100%;
  background: none;
  margin: 0;
  padding: 5px 0 5px 0;
}
table.mceLayout{
  width: 100% !important;
}
#edit-content_ifr{
  width: 100% !important;
}