
.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  transition-duration: 0s;
}

/* End: Recommended Isotope styles */



/* disable CSS transitions for isotope-containers with infinite scrolling*/
.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.isotope-item img{
  width: 100%;
  display: inline-block;
  height: auto;
  max-width: 100%;
}
.isotope-item{
  min-height: 200px;
}
.isotope-element{
  padding-bottom: 15px;
  padding-top: 15px;
}
.no-item-padding .isotope-element{
  padding: 0 !important;
}
ul.filter-group li{
  display: inline;
  list-style: none;
}
ul.filter-group li a{margin: 10px 0;}
ul.filter-group{
  list-style: none;
  list-style-image: none;
  margin-bottom: 30px;
}
.item-list .pager li{display: inline-block;}
#infscr-loading{
  left: 42%;
  position: absolute;
  text-align: center;
  bottom: 0;
  z-index: 100;
  color: #666666;
}
ul.views-bs-content,ul.views-bs-content li{
  list-style: none;
  list-style-image: none;
}
div#views_infinite_scroll-ajax-loader {
  text-align: center;
}
div#views_infinite_scroll-ajax-loader i{
  color: #EA623D;
  font-size: 20px;
}
